/*common elements*/
.container {
    padding-right: 18px;
    padding-left: 18px;
}

.button {
    width: 80%;
}

/*header*/
.list {
    display: none;
}

.header-container{
    height: 57px;
}

.header-btn {
    display: none;
}

.phone-num {
    color: #FFFFFF;
    text-decoration: none;
}

/*section-overview*/
.section-overview {
    padding-top: 85px;
    height: 476px;
}

.glass-btn {
    margin-top: 26px;
}

.txt {
    font-size: 14px;
    line-height: 19px;
}

.main-title {
    font-size: 23px;
    line-height: 31px;
}

.wrapper {
    flex-direction: column;
    justify-content: center;
}

.responsive-img-1 {
    max-width: 100%;
    height: auto;
    display: none;
  }

.projects-img-mobile { 
    display: block;
}

.projects-container {
    padding-top: 36px;
}

.projects-title {
    margin: 0 auto;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.07em;
    text-align: center;
}

.projects-txt {
    text-align: center;
}

.projects-img-mobile {
    display: flex;
    justify-content: center;
}