@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.button {    
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 33px;
    text-transform: uppercase;
    outline: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.txt {
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.logo {
    color: #E3B873;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.header, footer {
    background-color: black;
}

 
 .header-container, .footer-container {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    margin: 0 auto;
 }

.nav-item {
    margin-right: 47px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #E3B873;
}

.phone-num {
    color: #E3B873;
}

.section-overview {
    background-image: url(../images/back-sec1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
    background-size: cover;
    height: 707px;
    padding-top: 196px;
    position: relative;
}

.overview-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overview-container {
    position: relative;
    z-index: 1;
} 

.main-title {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: normal;
    max-width: 519px;
}

.high-txt {
    color: #E3B873;;
}

.overview-text {
    font-size: 22px;
    line-height: 36px;
    max-width: 519px;
    margin-bottom: 41px;
}

.solid-btn {
    margin-right: 20px;
}

.glass-btn {
    border: 0.5px solid #FFFFFF;
    background-color: transparent;
    box-shadow: none;
}

.glass-btn:hover {
    border-color: transparent;
    background: #E3B873;
}

.section-projects {
    background-color: #131313;
}

.projects-container {
    padding-top: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 415px;
}

.projects-list{
    padding: 0;
    margin-left: 590px;
    margin-bottom: 45px;
}

.projects-link {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
}

.projects-link:hover {
    color: #E3B873;
    text-decoration: underline;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-title {
    max-width: 252px;
}

.projects-txt {
    max-width: 500px;
}

.info-title {
    font-size: 18px;
    line-height: 15px;
    letter-spacing: normal;
}

.projects-img-mobile {
    display: none;
}

.info-piece {
    width: 40%; 
    height: 25%; 
}
.info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.arrows {
    cursor: pointer;
}

.section-control {
    margin-top: -320px;
    margin-bottom: 145px;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-img {
    max-width: 817px;
    max-height: 434px;
    filter: brightness(20%);
}

.subtitle {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: normal;
}

.icon-container {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.video-wrap {
    background-image: url(../images/control-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 817px;
    height: 434px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
}


.play {
    width: 85px;
    height: 85px;
    z-index: 10;
}

.divider {
    border: 2px solid #E3B873;
    width: 55px;
    border-radius: 2px;
}

.control-txt {
    max-width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.text-broadcast {
    color: #FFFFFF;
}

.checkbox{
    display: none;
  }

.first-checkbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.checkbox-label {
    display: contents;
    cursor: pointer;
}

.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }

.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }

.checkbox:checked + .fake::before{
    opacity: 1;
  }

.broadcast-check {
    align-self: flex-start;
    margin-left: 20px;
}

.broadcast-form {
    margin-top: 91px;
    max-width: 769px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 51px;
}

.label {
    display: flex;
    flex-direction: column;
    width: 250px;
    color: rgba(54, 54, 54, 0.5);
}

.check-label {
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    margin-top: 30px;
}

.form-button {
    width: 200px;
    height: 50px;
}

.input-form {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
    color: #FFFFFF;
}

.check-mobile {
    display: none;
}

.section-types {
    padding-bottom: 125px;
}

.types-container {
    display: flex;
    flex-direction: column;
}

.types-title {
    color: #181818;
}

.types-wrapper {
    display: flex;
    justify-content: space-around;
}

.repair-type {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repair-title {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 0;
    text-transform: capitalize;
}

.repair-txt {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair-features {
    padding-left: 15px;
}

.repair-desc {
    width: 80%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-top: -140px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.repair-price {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    padding: 18px;
    width: 230px;
    align-self: start;
    margin-left: 20px;
    margin-top: -20px;
}

.price {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    letter-spacing: normal;
}

.section-measurer {
    margin-top: 113px;
    background-image: url(../images/houses-back.png);
    background-repeat: no-repeat;
}

.measurer {
    display: flex;
    justify-content: space-between;
    padding-left: 177px;
    width: 100%;
    margin-top: 113px;
    height: 500px;
    background-image: url(../images/houses-back.png);
    background-repeat: no-repeat;
    background-position:left top;
    background-position: 1% 55%;
    margin-bottom: 50px;
}

.steps {
    height: 506px;
    display: flex;
    flex-direction: column;
}

.steps-info {
    display: flex;
    max-width: 400px;
    margin-bottom: 50px;
    align-items: center;
}

.steps-txt {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.measurer-form, .question-form {
    background-color: #131313;
    height: 506px;
    width: 506px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.measurer-input {
    border: 0;
    background-color: #131313;
    border-bottom: .7px solid rgba(255, 255, 255, 0.5) ;
    margin-bottom: 10px;
    color: #FFFFFF;
    align-self: flex-start;
    width: 400px;
}

.measurer-input::placeholder {
    color: #FFFFFF;
}

.form-txt {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    max-width: 297px;
}

.label-measurer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    align-self: flex-start;
    padding-left: 20px;
    width: 400px;
}

.measurer-button {
    align-self: flex-end;
    margin-right: 50px;
}

.measurer-check {
    color: #FFFFFF;
    align-self: flex-start;
    width: 400px;
    padding-left: 20px;
}

.saving {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 200px;
}

.saving-txt {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    width: 240px;
}

.section-fantasy {
    background-image: url(../images/fantasy-shade.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
    padding-top: 196px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 242px;
}


.fantasy-txt {
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    text-decoration: underline;
}

.fantasy-title {
    max-width: 300px;
    letter-spacing: normal;
}

.fantasy-item {
    font-size: 20px;
    line-height: 38px;
}

.fantasy-list {
    flex-direction: column;
    padding-left: 0;
}

.fantasy-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -780px;
}

.fantasy-pics-wrapper {
    display: flex;
    align-items: flex-start;
} 

.fantasy-pics-wrapper > img {
    margin-left: 40px;
}

.vertical-img-top {
    margin-top: -100px;
}

.vertical-img-bot {
    margin-top: -320px;
}

.bottom-img {
    margin-top: 50px;
}

.section-clients {
    margin-top: 300px;
    background-image: url(../images/city-back.png);
    background-position: center center;
    background-size: cover;
    height: 1200px;
}

.clients-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.clients-txt {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    width: 400px;
    align-self: center;
}

.client-pic {
    border-radius: 50%;
}

.client-result {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    padding: 18px;
    width: 230px;
    align-self: start;
}

.client-name {
    font-size: 18px;
    line-height: 23px;
    text-align: unset;
    width: 200px;
    margin-left: 20px;
}

.feed-txt {
    font-size: 18px;
    line-height: 29px;
    color: #959595;
}

.client-feed {
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 10px;
}

.client-info {
    display: flex;
    align-items: center;
}

.client-result {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 55px;
    margin-right: 1.5px;
}

.res-wrap {
    display: flex;
}

.section-company {
    background-image: url(../images/company-back.png);
    background-position: center center;
    background-size: cover;
}

.question-form {
    margin-top: -200px;
    width: 840px;
    margin-bottom: 50px;
}

.company-container {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 65px;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    margin-left: 40px;
}

.label-question {
    width: auto;
}

.label-question {
    width: 50%;
}

.question-input {
    width: 200px;
}

.question-input-ask {
    width: 500px;
}

.question-wrapper {
    display: block;
}

.question-check {
    align-self: unset;
    margin-left: 40px;
}

.question-button {
    align-self: unset;
    margin-left: 40px;
}

.address-title {
    text-align: center;
    max-width: 700px;
}

.icon-wrapper {
    margin: 30px;
}

.map-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fantasy-container-mobile {
    display: none;
}

.icon-wrapper-mobile {
    display: none;
}
