/*common elements*/
.container {
    padding-right: 18px;
    padding-left: 18px;
}


.button {
    width: 338px;
    display: block;
}

/*header*/
.list {
    display: none;
}

.header-container{
    height: 57px;
}

.header-btn {
    display: none;
}

.phone-num {
    color: #FFFFFF;
    text-decoration: none;
}

/*section-overview*/
.section-overview {
    padding-top: 85px;
    height: 476px;
}

.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-text {
    max-width: 338px;
}

.solid-btn {
    margin: 0 auto;
}

.glass-btn {
    margin-top: 26px;
}

.txt {
    font-size: 14px;
    line-height: 19px;
}

.main-title {
    max-width: 338px;
    font-size: 23px;
    line-height: 31px;
}

.wrapper {
    flex-direction: column;
    justify-content: center;
}

.responsive-img-1 {
    max-width: 100%;
    height: auto;
    display: none;
  }

.projects-img-mobile { 
    display: block;
}

.projects-container {
    padding-top: 36px;
}

.projects-title {
    margin: 0 auto;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.07em;
    text-align: center;
}

.projects-txt {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    max-width: 311px;
}

.projects-img-mobile {
    display: flex;
    justify-content: center;
}

.arrows {
    display: none;
}

.info-wrap {
    margin: 0 auto;
    max-width: 341px;
}

.info-title {
    font-size: 14px;
    line-height: 138.6%;
}

.section-control {
    background-color: #131313;
}

.control-container {
    margin-top: 58px;
}

.control-txt {
    color: #FFFFFF;
    max-width: 340px;
    margin-bottom: 61px;
}

.video-wrap {
    width: 340px;
    height: 207px;
}

.broadcast-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 0;
    height: 300px;
    margin-bottom: -40px;
}

.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5)
}

.input-form {
    background-color: #131313;
    border-bottom: 1px solid #FFFFFF;
    width: 340px;
    margin-bottom: 10px;
}

.input-form::placeholder {
    color: #FFFFFF;
}

.check-desktop {
    display: none;
}

.check-mobile {
    display: block;
    margin: 0;
    color: #FFFFFF;
}